a {
  text-decoration: underline;
  text-decoration-color: #707070;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration-color: #707070;
  @apply text-link-decoration-hover;
  @apply text-link-hover-light;
  @apply dark:text-link-hover-dark;
  transition: 0.4s;
}
